.auth-box {
    max-width: 420px;
    margin: 50px auto;
    background: white;
    padding: 35px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
}

.auth-box h2 {
    margin-bottom: 25px;
    text-align: center;
}

.auth-box form input,
.auth-box form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

.auth-switch {
    margin-bottom: 15px;
    text-align: center;
}